<div class="jumbotron">
    <h1 class="display-3">About Gamer's Games</h1>
    <p class="lead">We're Gamers, so we game, show off your games here and be <strong>[REDACTED]</strong></p>
    <p class="blockquote-footer">Version 0.0.1</p>
</div>